.container-main{
    margin-top: 70px;
    margin-bottom: 50px;
    min-height: 70vh;
}

.float-button{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.menu-admin{
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
}

.content{
    margin-left: 250px;
}

.breadcrumb{
    margin-left: 20px;
}
