.card{
    font-family: "Barlow", serif;
    .fullName{
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .upload{
        width: 100% !important;
        display: flex;
        justify-content: center;
        div{
            width: 100%;
        }
        .button{
            font-family: "Barlow", serif;
            font-weight: 500;
            width: 100%;
        }
    }
}