@import "@assets/styles/variables";

.text-help{
    color: $color-black-50;
    font-size: 13px;
    font-style: italic;
    margin: 0;
}

.container-form{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}